.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.product-img {
    height: 200px;
    object-fit: contain;
}
.fixed {
    position: fixed;
    top: 280px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}

.fixed .card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
