body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(66, 66, 66);
}
.container {
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 600px;
    position: relative;
    border-radius: 10px;
}
#background {
    border-radius: 10px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: black;
    width: 640px;
    height: 333px;
    opacity: 0.2;
    display: none;
}
#hide {
    margin: 50px auto;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
}

#icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
